# nvim / shell state
.config/nvim/.nvimlog
.zcompdump
.zsh_history
.zhistory
# tmux plugin state
.tmux/resurrect/
.tmux/continuum/

# host-specific state
.config/google-chrome/
.config/neofetch/
.config/thefuck/
